@charset "utf-8";

body 	{
			background-color: #808080;
			text-decoration-color: #121212;
			}
	
	#wrapper {
			 max-width: 1500px;
			 background-color: #3FE494;
			 margin: auto;
			 border-radius: 25px;
			 }
	
	header {
			text-align: center;
			padding-top: 50px;
			border-style: solid;
			border-color: #3FE494;
			border-width: medium;
			border-top-left-radius: 25px;
			border-top-right-radius: 25px;
			height: 150px;
			text-transform: uppercase;
		 	}	

	nav 	{
			height: 120px;
			background-color: #000000;
			border-style:inset;
			border-color: #000000;
			border-width: medium;
			}

	nav ul 	{
			list-style-type: none;
			margin: 0px;
			padding: 0px;
			overflow: hidden;
			height: 120px;
			}

	li a 	{
			display: inline;
			float: left;
			padding-left: 45px;
			padding-right: 54px;
			padding-top: 50px;
			padding-bottom: 50px;
			text-align: center;
			text-decoration: none; 
			}
			
	a:link 	{
			text-decoration: none;
			background-color: #3FE494;
			width: 150px;
			color: #F7F7F7;
			}
	
	a:visited {
			 	text-decoration: none;
				color: #F7F7F7;
			  }
	
	a:hover {
			text-decoration: underline;
			background-color:#000000;
			width: 150px;
			color: #3FE494;
			}
	
	a:active {
			 	text-decoration: none;
				color: #6CE7CF;	
			 }
	
	main 	{
			background-color: white;
			margin-right: auto;
			marging-left: auto;
			border: thin solid;
			border-color: white;
			padding-top: 2px;
			padding-right: 2px;
			padding-bottom: 0px;
			padding-left: 2px;
			float:left;
			}
	
	section {
			background-color: #979696;
			margin-left: auto;
			margin-right: auto;
			}
	
	aside 	{
			background-color: #CF69F7;
			border-style:inset;
			border-color: black;
			border-width: medium;
			float: right;
			width: 37%;
			
			}
	
	footer 	{
			clear: both;
			height: 100px;
			background-image: url("images/ww2.jfif");
			border: solid;
			border-bottom-left-radius: 25px;
			border-bottom-right-radius: 25px;
			}
	
	h1 		{
			font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu 				Sans", Verdana, "sans-serif";
			font-style: normal;
			font-variant: normal;
			font-weight: 600;
			text-decoration: none;
			}
	
	h2 		{
			font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", 			"Times New Roman", "serif";
			font-style: normal;
			font-variant: normal;
			font-weight: 600;
			font-size: 1em;
			text-decoration: none;
			text-align: left;
			font-color: #f09aec;
			
			}

.dropdown	{
			float: left;
			overflow: hidden;
			}

.dropdown-content	{	
					display: none;
					position: absolute;
					background-color: #3FE494;
					color: #EAEAEA;
					min-width: 100px;
					box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
					z-index: 1;
					}

.dropdown-content a {
					float: none;
					color: #FAFAFA;
					padding: 12px 16px;
					text-decoration: none;
					display: block;
					text-align: center;
					}

.dropdown-content a:hover 	{
							background-color: #8B8989;
							}

.dropdown:hover .dropdown-content 	{
									display: block;
									}
	